.btn
{
	font-family: lato-n9, sans-serif;
}

#u105-5
{
	font-family: lato-n9, sans-serif;
}

#u105
{
	font-family: lato-n4, sans-serif;
}

#u105-2
{
	font-family: lato-n1, sans-serif;
}

#u235-4,#u224-4
{
	font-family: lato-n9, sans-serif;
}

#u225-4
{
	font-family: lato-n1, sans-serif;
}

#u231-4
{
	font-family: lato-n9, sans-serif;
}

#u229-4
{
	font-family: lato-n1, sans-serif;
}

#u220-4
{
	font-family: lato-n9, sans-serif;
}

#u221-4
{
	font-family: lato-n1, sans-serif;
}

#widgetu222_input,#widgetu222_prompt,#widgetu228_input,#widgetu228_prompt,#widgetu218_input,#widgetu218_prompt
{
	font-family: lato, sans-serif;
}

