.btn
{
	font-family: lato-n9, sans-serif;
}

#u105-5
{
	font-family: lato-n9, sans-serif;
}

#u105
{
	font-family: lato-n4, sans-serif;
}

#u105-2
{
	font-family: lato-n1, sans-serif;
}

#u256-4,#u255-4
{
	font-family: lato-n9, sans-serif;
}

#u254-4
{
	font-family: lato-n1, sans-serif;
}

#u246-4
{
	font-family: lato-n9, sans-serif;
}

#u248-4
{
	font-family: lato-n1, sans-serif;
}

#u241-4
{
	font-family: lato-n9, sans-serif;
}

#u243-4
{
	font-family: lato-n1, sans-serif;
}

#widgetu252_input,#widgetu252_prompt,#widgetu245_input,#widgetu245_prompt,#widgetu240_input,#widgetu240_prompt
{
	font-family: lato, sans-serif;
}

