#u189
{
	border-color: #000000;
	background-color: #00A99D;
}

#u105-5
{
	line-height: 58px;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
}

#u105
{
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u105-2
{
	font-family: lato, sans-serif;
	font-weight: 100;
}

#u108
{
	border-color: #000000;
	background-color: #00A99D;
	position: relative;
}

#u106
{
	border-color: #000000;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	position: relative;
}

