.version.tours /* version checker */
{
	color: #0000FA;
	background-color: #5192AE;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 722px;
}

#page_position_content
{
	margin-bottom: -4px;
	padding-top: 9px;
}

#u283
{
	z-index: 10;
	width: 999px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 11px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u265-4
{
	z-index: 11;
	width: 454px;
	min-height: 73px;
	line-height: 78px;
	font-size: 65px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u287
{
	z-index: 15;
	width: 379px;
	height: 477px;
	border-color: #000000;
	margin-left: 11px;
	margin-top: 30px;
	position: relative;
	background: #FFFFFF url("../images/sample-u287-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u189
{
	z-index: 2;
	padding-bottom: 4px;
}

#u105-5
{
	z-index: 3;
	width: 379px;
	min-height: 64px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 28px;
}

#u347
{
	z-index: 16;
	width: 86px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 845px;
}

#u108
{
	z-index: 8;
	width: 78px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 937px;
}

#u106
{
	z-index: 9;
	width: 72px;
	min-height: 72px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 2px;
}

#u189-bw
{
	z-index: 2;
	margin-top: 32px;
	height: 85px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

